*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    height: 650px;
    width: 100%;
    background: url(./img/pexels-melanie-wupperman-662994.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.head .opacity{
    position: absolute;
    top: 0;
    left: 0;
    height: 650px;
    width: 100%;
    background: linear-gradient(to left, rgba(255, 77, 77,.7), rgba(255, 153, 204,.8));
}

.box{
    height: 450px;
    width: 350px;
    background-color: rgb(179, 179, 179);
    margin-top: 100px;
    margin:100px auto;
    border-radius: 10px;
    position: relative;
}

input#text {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 330px;
    margin:10px 10px;
    background-color: white;
    border-radius: 6px;
    font-size: 35px;
    padding: 0px 10px;
}

.display{
   
}

.keyboard{
    position: absolute;
    top: 25%;
    left: 0;
    height: 290px;
    width: 330px;
    margin: 10px 10px;
    background-color: rgba(0,0,0,.1);
    border-radius: 6px;

}

.keyboard{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;

}


.lineOne {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 10px;
}
.lineTwo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 10px;

}
.lineThree {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 10px;

}

.lineFour {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 10px;
}


.lineFive {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 10px;
}



.h4{
    padding: 5px 16px;
    background-color:rgb(224, 179, 255) ;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 18px;
    transition: .15s;
}

input.h4.extra {
 padding: 5px 50px;
 font-size: 15px;
 color:black ;
 background-color:rgb(153, 255, 255) ;
}

.icon{
    background-color:rgb(153, 255, 255) ;
}


.h4:hover{
    transform: scale(1.05);
}

h1{
    display: inline-block;
    margin: 15px 10px;
    font-family: 'Roboto', sans-serif;
}